<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="/templates/main">
<head>
    <meta charset="utf-8">
    <title>Spring Boot Thymeleaf + Spring Security</title>
</head>
<body>
<th:block layout:fragment="content">

    <div class="site-login">

        <div class="row">
            <div class="col-lg-5">
                <h1>Сайт в разработке</h1>
            </div>
        </div>
    </div>

</th:block>
</body>
</html>